

    <nav class="navegacion">
        <div>
           <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a> 
        </div>
        <div>
           <span>Alertas</span>
        </div>
        <div class="iconMenuHamburguesa">
            <i class="bi bi-menu-button-wide-fill"></i>
        </div>
    </nav>


   <div class="contMayorCli">

    <section class="sectionContClientes">
      <div class="divClienteBuscar">
        <h3 class="tituloForm">Prestamos Cancelados</h3>
      </div>
      <div class="tarjUser">
        <br>
        <table class="tableUsuarios">
          <tr class="tableUsuariosTr">
          <th class="tableUsuariosThTitulo">Nombre</th>
    
          <th class="tableUsuariosThTitulo">Cancelado</th>
          <th class="tableUsuariosThTitulo">Vcto</th>
          <th class="tableUsuariosThTitulo">Ruta</th>
          <th class="tableUsuariosThTitulo">Btn</th>
          </tr>
        {{#each presCancelados}}
          <tr>
             <th class="tableUsuariosThRespuesta"><a href="general/statusPresClient/{{dni}}" class="etiquetaNombre">{{nombre}}</a></th>
             
              <th class="tableUsuariosThRespuesta">{{fechaUltPago}}</th>
               <th class="tableUsuariosThRespuesta">{{fechaFinal}}</th>
             <th class="tableUsuariosThRespuesta">{{cobRuta}}</th>
             <th class="thAlert">
               <a href="/alertas/eliminarUno/{{_id}}" style="background-color: red;" onclick="return confirm('¿Esta Seguro Que Desea Eliminar El PRestamo Y Sus Pagos: {{{nombre}}}?')" class="btnAlert"><i class="bi bi-trash"></i></a>
               <a href="https://wa.me/549{{celular}}" class="btnAlert" style="background-color: rgb(4, 178, 4);"><i class="bi bi-whatsapp"></i></a>
            </th>
          </tr>
        {{/each}}
         <tr class="tableUsuariosTr">
          <th class="tableUsuariosThTitulo" colspan="4">
            <a href="/alertas/eliminarTodos/{{_id}}" style="font-size: 13px; padding: 0.5em;" class="btnError">Eliminar Todos</a>
            </th>
          </tr>

        </table>
        <br>
      </div>  
      <div class="divClienteBuscar">
        <h3 class="tituloForm">Prestamos Vencidos</h3>
      </div>
      <div class="tarjUser">
        <br>
        <table class="tableUsuarios">
          <tr class="tableUsuariosTr">
          <th class="tableUsuariosThTitulo">Nombre</th>
          <th class="tableUsuariosThTitulo">Saldo</th>
          <th class="tableUsuariosThTitulo">Vencimiento</th>
          <th class="tableUsuariosThTitulo">Ruta</th>
          <th class="tableUsuariosThTitulo">Btn</th>
          </tr>
        {{#each presVencidos}}
          <tr>
            <th class="tableUsuariosThRespuesta"><a href="/general/statusPresClient/{{dni}}" class="etiquetaNombre">{{nombre}}</a></th>
             <th class="tableUsuariosThRespuesta" style="color: red;">{{mTotal}}</th>
              <th class="tableUsuariosThRespuesta">{{fechaFinal}}</th>
             <th class="tableUsuariosThRespuesta">{{cobRuta}}</th>
              <th class="thAlert">
                   <a href="/cobranza/refinanciar/{{_id}}" class="btnAlert" style="background-color: blue; border: none; color:white"><i class="bi bi-pencil-square"></i></a>
                   <a href="https://wa.me/549{{celular}}" class="btnAlert" style="background-color: rgb(4, 178, 4);"><i class="bi bi-whatsapp"></i></a>
            </th>
          </tr>
        {{/each}}


        </table>
        <br>
      </div>  
    </section>
  </div>





