<nav class="navegacion">
  <a href="javascript:history.back()"><i class="bi bi-box-arrow-left"></i></a>
  <div>
    <span>Clientes</span>
  </div>
  <div class="iconMenuHamburguesa">
    <i class="bi bi-menu-button-wide-fill"></i>
  </div>
</nav>
<div class="contMayorCli">
  <div class="formCliente">
    <div class="divClienteBuscar">
      <h3 class="tituloForm">Caja De Cobranza</h3>
    </div>
    <div class="tarjUser">
      <table class="tableListCaja">
        <tr class="">
          <th class="tableListCajaTitle">Esperado:</th>
          <th class="tableListCajaRes">{{esperadoT}}</th>
          <th class="tableListCajaTitle">Cobrado:</th>
          <th class="tableListCajaRes">{{cobradoT}}</th>
        </tr>
          <tr class="">
          <th class="tableListCajaTitle">Efectividad:</th>
          <th class="tableListCajaRes">{{porcentaje}}%</th>
          <th class="tableListCajaTitle">Gastos:</th>
          <th class="tableListCajaRes">{{gastoT}}</th>
        </tr>
         <tr class="">
          <th class="tableListCajaTitle">Efectivo:</th>
          <th class="tableListCajaRes" colspan="">{{efectivo}}</th>
           <th class="tableListCajaRes" colspan="2"></th>
        </tr>
           </table>
          
       </div>    
     <div class="divClienteBuscar">
      <h3 class="tituloForm">Operaciones De Caja</h3>
    </div>
    <div class="tarjUser">
      <table class="tableListCaja">
        <tr class="">
          <th class="tableListCajaTitle">Fecha</th>
          <th class="tableListCajaTitle">Tipo</th>
          <th class="tableListCajaTitle">Detalle</th>
          <th class="tableListCajaTitle">Monto</th>
        </tr>
        {{#each cajaOpe}}
          <tr>
            <th class="tableListCajaRes">{{fecha}}</th>
            <th class="tableListCajaRes">{{tipo}}</th>
            <th class="tableListCajaRes">{{detalle}}</th>
            <th class="tableListCajaRes">${{monto}}</th>
          </tr>
        {{/each}}
      </table>
    </div>
  </div>
</div>