
    <nav class="navegacion">
        <div>
           <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a> 
        </div>
        <div>
           <span>Cobranza {{usuario.nombre}}</span>
        </div>
        <div class="iconMenuHamburguesa">
            <i class="bi bi-menu-button-wide-fill"></i>
        </div>
    </nav>

    <div class="contPres">
        {{#each prestamos}}

        <table class="tablePres">
            <tr>
                <th colspan="3" class="thTitleTablePres"> {{nombre}}</th>
            </tr>
             <tr>
                <th colspan="3" class="thTable">Direccion: {{direccion}}</th>
            </tr>
               <tr>
                <th colspan="3" class="thTable">Descripción: {{detalle}}</th>
            </tr>
              <tr>
                <th class="thTable">Monto: ${{monto}}</th>
                 <th class="thTable">Cuotas: {{cuotas}}</th>
                  <th class="thTable">Cuota: ${{cuota}}</th>
            </tr>
            <tr>
                 <th class="thTable" colspan="2">Utimo Pago: {{fechaUltPago}}</th>
                  <th class="thTable">Saldo: ${{mTotal}}</th>
            </tr>
             <tr>
                <th class="thTable">Fecha: {{fechaInicio}}</th>
                 <th class="thTable">Vto: {{fechaFinal}}</th>
                  <th class="thTable">Dia cobro: {{diaDeCobro}}</th>
            </tr>
              <tr>
                <th colspan="3" class="thTable">Cod: <input type="text" style="border: none;" readonly id="codPres" name="codPres" value="{{_id}}"></th>
            </tr>
            <tr class="trTablePres">
                 <th colspan="3" class="trTablePres">
                    <a href="/general/editCliente/{{dni}}"class="btnPagoCobra" style="background-color: rgb(255, 149, 0); border: none; color:white"><i class="bi bi-person-lines-fill"></i></a>
                    <a href="" class="btnPagoCobra" style="background-color: blue; border: none; color:white"><i class="bi bi-pencil-square"></i></a>
                    <a href="https://wa.me/549{{celular}}?text=¡Pulsa el link para ver tu estado de cuenta! https://proyectofinal-production-a7fb.up.railway.app/cobranza/ticket/{{_id}}" class="btnPagoCobra" style="background-color: rgb(3, 123, 123);"><i class="bi bi-ticket-perforated"></i></a>
                    <a href="https://wa.me/549{{celular}}" class="btnPagoCobra" style="background-color: green;"><i class="bi bi-whatsapp"></i></a>
                    <a href="/cobranza/pagosList/{{_id}}" class="btnPagoCobra" style="background-color: orangered;"><i class="bi bi-card-list"></i></i></a>
                </th>
            </tr>
        </table>
        {{/each}}
        <br>
        <div class="divClienteBuscar" style="height: auto; padding: 1.5em;">
        <a href="/cobranza/pagoListDiario/{{usuario.numRuta}}" class="btnError">Ver Pagos Totales</a>
      </div>
     
    </div>


