
    <nav class="navegacion">
        <div>
           <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a> 
        </div>
        <div>
           <span>Cobranza</span>
        </div>
        <div class="iconMenuHamburguesa">
            <i class="bi bi-menu-button-wide-fill"></i>
        </div>
    </nav>

    <div class="contPres">
        {{#each prestamos}}
        <table class="tablePres">
            <tr>
                <th colspan="3" class="thTitleTablePres"> {{nombre}}</th>
            </tr>
             <tr>
                <th colspan="3" class="thTable">Direccion:</th>
            </tr>
              <tr>
                <th class="thTable">Monto: ${{monto}}</th>
                 <th class="thTable">Cuotas: {{cuotas}}</th>
                  <th class="thTable">Cuota: ${{cuota}}</th>
            </tr>
            <tr>
                <th class="thTable">Total: ${{mTotal}}</th>
                 <th class="thTable">Atraso:</th>
                  <th class="thTable">Saldo:</th>
            </tr>
             <tr>
                <th class="thTable">Inicio:</th>
                 <th class="thTable">Vence:</th>
                  <th class="thTable"></th>
            </tr>
            <tr class="trTablePres">
                 <th colspan="3" class="trTablePres">
                    Pago:
                    <input type="number" class="inpPres">
                    <a href="" class="btnPagoCobra" style="background-color: blue;"><i class="bi bi-check-lg"></i></a>
                    <a href="" class="btnPagoCobra" style="background-color: red;"><i class="bi bi-x"></i></a>
                    <a href="https://wa.me/549{{clienteBuscado.celular}}" class="btnPagoCobra" style="background-color: green;"><i class="bi bi-whatsapp"></i></a>
                    <a href="" class="btnPagoCobra" style="background-color: orangered;"><i class="bi bi-card-list"></i></i></a>
                </th>
            </tr>
        </table>
        {{/each}}
    </div>

    <footer class="footerCobranza">
            <div class="divFooter">
                <spam>Nombre Usuario</spam>
                <spam>Cobrado= $0.0</spam>
                <spam>Esperado= $0.0</spam>
            </div>
    
            <div class="divFooter">
              <spam>Fecha: 00/00/00</spam>
              <spam>Efectividad= 100%</spam>
              <spam>Adelantos= $0.0</spam>
            </div>
    </footer>
