<nav class="navegacion">
  <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a>
  <div>
    <span>Settings</span>
  </div>

  <div class="iconMenuHamburguesa">
    <i class="bi bi-menu-button-wide-fill"></i>
  </div>
</nav>

<div class="contMayorCli">
  <div class="formSetti">
     <div class="divClienteBuscar">
      <h3 class="tituloForm">Planes De Pago</h3>
    </div>
    <form action="/settings/savePlans" method="post">
      <p>Agregar Un Plan De Pago</p>
      <table class="tableSettings">
        <tr>
          <th><label class="title" for="paln">Categoria</label></th>
          <th><select name="categoria" id="categoria" class="inpFormSett">
            <option value="financiamiento">Financiamiento De Productos</option>
            <option value="prestamo">Prestamo De Dinero</option>
          </select></th>
        </tr>
        <tr>
          <th><label class="title" for="paln">Tipo De Plan</label></th>
          <th><select name="plan" id="plan" class="inpFormSett">
              <option value="diario">Diario</option>
              <option value="Semanal">Semanal</option>
              <option value="quincenal">Quincenal</option>
              <option value="mensual">Mensual</option>
              <option value="trimestral">Trimestral</option>
              <option value="semestral">Semestral</option>
              <option value="anual">Anual</option>
            </select></th>
        </tr>
        <tr>
          <th><label class="title" for="nombre">Cuotas</label></th>
          <th><input type="number" class="inpFormSett" placeholder="Cantidad De Cuotas" id="cuotas" name="cuotas"
              required /></th>
        </tr>
        <tr>
          <th><label class="title" for="nombre">Porcentaje</label></th>
          <th> <input type="number" class="inpFormSett" placeholder="Cantidad De Cuotas" id="porcentaje"
              name="porcentaje" required /></th>
        </tr>
        <tr>
          <th colspan="2" class=""><button type="submit" class="btnFormSettings">Guardar</button></th>
        </tr>
      </table>
      <br />
    </form>
    <p>Planes De Pago De Prestamos De Dinero</p>
      <table class="tableSettPlanes">
        <tr>
          <th class="thTableSettPla">Plan</th>
          <th class="thTableSettPla">Cuotas</th>
          <th class="thTableSettPla">Porcentaje</th>
          <th class="thTableSettPla">Opcion</th>
        </tr>
        {{#each planActualPres}}
        <tr>
          <th class="thTableSettPla">{{plan}}</th>
          <th class="thTableSettPla">{{cuotas}}</th>
          <th class="thTableSettPla">{{porcentaje}}%</th>
          <th class="thTableSettPla"> <a href="/settings/deletePlan/{{_id}}" onclick="return confirm('¿Esta Seguro Que Desea Eliminar El Plan?: {{{nombre}}}?')" class="tablePlanesBtnEliminar">Eliminar</a></th>
        </tr>
        {{/each}}
      </table>
      <br>
      <p>Planes De Pago De Financiamiento De Productos</p>
     <table class="tableSettPlanes">
        <tr>
          <th class="thTableSettPla">Plan</th>
          <th class="thTableSettPla">Cuotas</th>
          <th class="thTableSettPla">Porcentaje</th>
          <th class="thTableSettPla">Opcion</th>
        </tr>
        {{#each planActualProd}}
        <tr>
          <th class="thTableSettPla">{{plan}}</th>
          <th class="thTableSettPla">{{cuotas}}</th>
          <th class="thTableSettPla">{{porcentaje}}%</th>
          <th class="thTableSettPla"> <a href="/settings/deletePlan/{{_id}}" onclick="return confirm('¿Esta Seguro Que Desea Eliminar El Plan?: {{{nombre}}}?')" class="tablePlanesBtnEliminar">Eliminar</a></th>
        </tr>
        {{/each}}
      </table>
  





      <br>
      <div class="divClienteBuscar">
      <h3 class="tituloForm">Configuracion % De Ganancia</h3>
    </div>
    <form action="" method="post">
      <p>Porcentaje De Ganancias En Venta De Productos</p>

      <table class="tableSettings">
  
        <tr>
          <th><label class="title" for="nombre">Porcentaje</label></th>
          <th><input type="number" class="inpFormSett" placeholder="" id="porcentaje" name="porcentaje"
              required /></th>
        </tr>
        <tr>
          <th colspan="2"> Valor Del Dolar</th>
        </tr>
        <tr>
          <th><label class="title" for="nombre">Dolar $</label></th>
          <th><input type="number" class="inpFormSett" placeholder="" id="dolar" name="dolar"
              required /></th>
        </tr>
        <tr>
          <th colspan="2" class=""><button type="submit" class="btnFormSettings">Guardar</button></th>
        </tr>
      </table>
      <br />
    </form>


  </div>
  </div>
    