<nav class="navegacion">
  <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a>
  <div>
    <span>Settings</span>
  </div>

  <div class="iconMenuHamburguesa">
    <i class="bi bi-menu-button-wide-fill"></i>
  </div>
</nav>

<div class="contMayorCli">
  <div class="formSetti" style="margin-top: 20px;">
     <div class="divClienteBuscar">
      <h3 class="tituloForm">Planes De Pago</h3>
    </div>
    <form action="/settings/savePlans" method="post">
      <p>Agregar Un Plan De Pago</p>
      <table class="tableSettings">
        <tr>
          <th><label class="title" for="paln">Categoria</label></th>
          <th><select name="categoria" id="categoria" class="inpFormSett">
            <option value="financiamiento">Financiamiento Comercial</option>
             <option value="particular">Financiamiento Particular</option>
            <option value="prestamo">Prestamo De Dinero</option>
          </select></th>
        </tr>
        <tr>
          <th><label class="title" for="paln">Tipo De Plan</label></th>
          <th><select name="plan" id="plan" class="inpFormSett">
              <option value="diario">Diario</option>
              <option value="Semanal">Semanal</option>
              <option value="quincenal">Quincenal</option>
              <option value="mensual">Mensual</option>
              <option value="trimestral">Trimestral</option>
              <option value="semestral">Semestral</option>
              <option value="anual">Anual</option>
            </select></th>
        </tr>
        <tr>
          <th><label class="title" for="nombre">Cuotas</label></th>
          <th><input type="number" class="inpFormSett" placeholder="Cantidad De Cuotas" id="cuotas" name="cuotas"
              required /></th>
        </tr>
        <tr>
          <th><label class="title" for="nombre">Porcentaje</label></th>
          <th> <input type="number" class="inpFormSett" placeholder="Cantidad De Cuotas" id="porcentaje"
              name="porcentaje" required /></th>
        </tr>
        <tr>
          <th colspan="2" class=""><button type="submit" class="btnFormSettings">Guardar</button></th>
        </tr>
      </table>
      <br />
    </form>
    <p>Planes De Pago De Prestamos De Dinero</p>
    <table class="tableListCaja">
    <tr>
      <th class="tableListCajaTitle">Plan</th>
      <th class="tableListCajaTitle">Cuotas</th>
      <th class="tableListCajaTitle">Porcentaje</th>
      <th class="tableListCajaTitle"><i style="color: rgb(0, 0, 0);" class="bi bi-trash"></i></th>
    </tr>
        {{#each planActualPres}}
          <tr>
      <th class="tableListCajaRes">{{plan}}</th>
      <th class="tableListCajaRes">{{cuotas}}</th>
      <th class="tableListCajaRes">{{porcentaje}}</th>
      <th class="tableListCajaRes"><a href="/settings/deletePlan/{{_id}}" onclick="return confirm('¿Esta Seguro Que Desea Eliminar El Plan?: {{{nombre}}}?')" ><i style="color: red;" class="bi bi-file-earmark-x"></i></a></th>
      </tr>
 
        {{/each}}
      </table>
      <br>
      <p>Planes De Pago De Financiamiento De Productos</p>
         <table class="tableListCaja">
    <tr>
      <th class="tableListCajaTitle">Plan</th>
       <th class="tableListCajaTitle">Categoria</th>
      <th class="tableListCajaTitle">Cuotas</th>
      <th class="tableListCajaTitle">Porcentaje</th>
      <th class="tableListCajaTitle"><i style="color: rgb(0, 0, 0);" class="bi bi-trash"></i></th>
    </tr>
        {{#each planActualProd}}
          <tr>
      <th class="tableListCajaRes">{{plan}}</th>
      <th class="tableListCajaRes">{{categoria}}</th>
      <th class="tableListCajaRes">{{cuotas}}</th>
      <th class="tableListCajaRes">{{porcentaje}}</th>
      <th class="tableListCajaRes"><a href="/settings/deletePlan/{{_id}}" onclick="return confirm('¿Esta Seguro Que Desea Eliminar El Plan?: {{{nombre}}}?')" ><i style="color: red;" class="bi bi-file-earmark-x"></i></a></th>
      </tr>
 
        {{/each}}
      </table>


      <br>
   
  </div>
   <div class="formSetti" style="margin-top: 20px;">
          <div class="divClienteBuscar">
      <h3 class="tituloForm">Configuracion % De Ganancia</h3>
    </div>
    {{#each valores}}
    <form action="/settings/updateValores/{{_id}}" method="post">
      <p>Porcentaje De Ganancias En Venta De Productos</p>

      <table class="tableSettings">
  
        <tr>
          <th><label class="title" for="nombre">Porcentaje:</label></th>
          <th><input type="number" class="inpFormSett" placeholder="  {{porcentaje}}%" id="porcentaje" name="porcentaje"
              required /></th>
        </tr>
        <tr>
          <th><label class="title" for="nombre">Dolar:</label></th>
          <th><input type="number" class="inpFormSett" placeholder="  ${{dolar}}" id="dolar" name="dolar"
              required /></th>
        </tr>
         <tr>
          <th><label class="title" for="nombre">Porcentaje Tarjeta en 3 cuotas:</label></th>
          <th><input type="number" class="inpFormSett" placeholder="  {{tcredito}}%" id="tcredito" name="tcredito"
              required /></th>
        </tr>
        <tr>
          <th colspan="2" class=""><button type="submit" class="btnFormSettings">Guardar</button></th>
        </tr>
      </table>
      <br />
      

    </form>
  {{/each}}
    <div class="divClienteBuscar">
        <h3 class="tituloForm">Configuracion De Planes De Tarjeta De Credito</h3>
      </div>
         <form action="/settings/createCreditCard" method="post">
  <table class="tableSettings">
    
        <tr>
          <th><label for="" class="title">Tarjeta:</label></th>
          <th>

         <select name="tarjeta" id="tarjeta" class="inpFormSett">
            <option value="Visa"><i></i>Visa</option>
            <option value="Mastercard">Mastercard</option>
            <option value="AmericanExpress">American Express</option>
            <option value="Discover">Discover</option>
            <option value="Naranja"> Naranja</option>
            <option value="Sucredito">Sucredito</option>
            <option value="Unica">Unica</option>
            <option value="Sol">Sol</option>
            <option value="Cabal">Cabal</option>

         </select>
          </th>
        </tr>
        <tr>
          <th><label for="" class="title">Nombre:</label></th>
          <th><input type="text" id="nombre" name="nombre" class="inpFormSett" required /></th>
        </tr>
        <tr>
          <th><label for="" class="title">Cuotas:</label></th>
          <th><input type="number" id="cuotas" name="cuotas" class="inpFormSett" required /></th>
        </tr>
         <tr>
          <th> <label for="" class="title">tasa:</label></th>
          <th><input type="number" id="tasa" name="tasa" class="inpFormSett" required /> </th>
        </tr>
           <tr>
          <th><label for="" class="title">Numero:</label></th>
          <th><input type="number" id="num" name="num" class="inpFormSett" /> </th>
        </tr>
        <tr>
          <th colspan="2" class=""> <button type="submit" class="btnFormSettings">Guardar</button></th>
        </tr>
      </table>   
   </form> 
      <div class="divClienteBuscar">
        <h3 class="tituloForm">Planes De Tarjeta De Credito</h3>
      </div>
      <table class="tableListCaja">
      <tr>
        <th class="tableListCajaTitle">Tarjeta</th>
        <th class="tableListCajaTitle">Nombre</th>
        <th class="tableListCajaTitle">Cuotas</th>
        <th class="tableListCajaTitle">Tasa</th>
        <th class="tableListCajaTitle">Numero</th>
        <th class="tableListCajaTitle"><i style="color: rgb(0, 0, 0);" class="bi bi-trash"></i></th>
      </tr>
          {{#each creditCards}}
            <tr>
        <th class="tableListCajaRes">{{tarjeta}}</th>
        <th class="tableListCajaRes">{{nombre}}</th>
        <th class="tableListCajaRes">{{cuotas}}</th>
        <th class="tableListCajaRes">{{tasa}}</th>
        <th class="tableListCajaRes">{{num}}</th>
        <th class="tableListCajaRes"><a href="/settings/deleteCreditCard/{{_id}}" onclick="return confirm('¿Esta Seguro Que Desea Eliminar El Plan?: {{{nombre}}}?')" ><i style="color: red;" class="bi bi-file-earmark-x"></i></a></th>
        </tr>
  
          {{/each}}
        </table>
   </div>
  </div>
    