<nav class="navegacion">
    <a href="javascript:history.back()"><i class="bi bi-box-arrow-left"></i></a>
    <div>
      <span>Ventas</span>
    </div>
    <div class="iconMenuHamburguesa">
      <i class="bi bi-menu-button-wide-fill"></i>
    </div>
  </nav>
   <div class="contMayorCli">
<div class="formCliente">
    <div class="divClienteBuscar">
        <h3 class="tituloForm">Confirmar Venta</h3>
      </div>
    <form action="/ventas/guardar" method="post" class="formCliente2">

      <p>Ingresa los datos para dar de alta al cliente</p>
      <br />

      <label class="title" for="nombre">Apellido y Nombre</label>
      <input type="text" class="inpForm" value="{{cliente.nombre}}" id="nombre" name="nombre" required />
      <br />
      <label class="title" for="dni">DNI</label>
      <input type="number" class="inpForm" value="{{cliente.dni}}" id="dni" name="dni" required />
      <br />
      <label class="title" for="direccion">Direccion</label>
      <input type="text" class="inpForm" value="{{cliente.localidadComercial}} / {{cliente.dirComercial}}" id="direccion" name="direccion" required />
      <br />
      <label class="title" for="dni">Celular</label>
      <input type="number" class="inpForm" value="{{cliente.celular}}" id="celular" name="celular" required />
      <br />
      <label class="title" for="venRuta">Vendedor</label>
      <input type="number" class="inpForm" value="{{cot.venRuta}}" id="venRuta" name="venRuta" required />
      <br />
        <label class="title" for="cobRuta">Cobrador</label>
        <input type="number" class="inpForm" value="{{cot.cobRuta}}" id="cobRuta" name="cobRuta" required />
      <br />
      <label class="title" for="monto">Monto</label>
        <input type="number" class="inpForm" value="{{cot.monto}}" id="monto" name="monto" required />
      <br />
            <label class="title" for="monto">Adelanto</label>
        <input type="number" class="inpForm" value="{{cot.adelanto}}" id="adelanto" name="adelanto"/>
      <br />
      <label class="title" for="codProd">Codigo De Producto</label>
      <select type="text" class="inpForm"  id="codProd" name="codProd" multiple>
        {{#each arrayCod}}
           <option value="{{cod}}" selected>{{cod}}</option>
        {{/each}}
      </select>
      <br />
      <label class="title" for="telefono">Descripcion</label>
      <input type="text" class="inpForm" value="{{cot.detalle}}" id="detalle" name="detalle"/>
      <br />
      <label class="title" for="email">Total</label>
      <input type="number" class="inpForm" value="{{mTotal}}" id="mTotal" name="mTotal" />
      <br />
      <label class="title" for="descuento">Descuento Aplicado En %</label>
      <input type="number" class="inpForm" value="{{cot.descuento}}" id="descuento" name="descuento" />
      <br />
      <label class="title" for="categoria">Categoria</label>
       <input type="text" class="inpForm" value="{{planCot.categoria}}" id="categoria" name="categoria" />
      <br />
       <label class="title" for="plan">Plan</label>
       <input type="text" class="inpForm" value="{{planCot.plan}}" id="plan" name="plan" />
      <br />
       <label class="title" for="cuotas">N° de Cuotas</label>
       <input type="number" class="inpForm" value="{{planCot.cuotas}}" id="cuotas" name="cuotas" />
      <br />
        <label class="title" for="cuota">Valor Cuota</label>
       <input type="number" class="inpForm" value="{{cuota}}" id="cuota" name="cuota" />
      <br />
        <label class="title" for="diaDeCobro">Dia De Cobro</label>
       <input type="text" class="inpForm" value="{{cot.diaDeCobro}}" id="diaDeCobro" name="diaDeCobro" />
      <br />
      <label class="title" for="fecha">Fecha De Inicio</label>
    <input type="text" name="fecha" id="fecha" value="{{cot.fecha}}" class="inpForm" readonly>

      <div class="cantBtnForm">
    
        <a class="btnFormReset" href="javascript:history.back()"> Volver Atrás</a>

        <button class="btnFormAceptar" type="submit">Guardar</button>
      </div>
  
    </form>
</div>
   
  </div>
