<nav class="navegacion">
  <a href="javascript:history.back()"><i class="bi bi-box-arrow-left"></i></a>
  <div>
    <span>Detalles Del Producto</span>
  </div>
  <div class="iconMenuHamburguesa">
    <i class="bi bi-menu-button-wide-fill"></i>
  </div>
</nav>
<div class="contMayorCli">
  <div class="formCliente">
    <div class="divClienteBuscar">
      <h3 class="tituloForm">{{prod.nombre}}</h3>
    </div>
        <img class="imgCotizarProd" src="/uploads/{{prod.cod}}.jpg" alt="">
    <div class="infoCotizarProd">
       <h2>{{prod.nombre}}</h2>
       <h4>Codigo: {{prod.cod}}</h4>
       <h5>{{prod.descripcion}}</h5>
       <h4>Disponibles: {{prod.stock}}</h4>
       <h2 style="color: green;">Precio: {{precio}}</h3>
          
       </div>    
    
    </div>

  <div class="formCliente">
     <div class="divClienteBuscar">
      <h3 class="tituloForm">Planes De Pago</h3>
    </div>
    <div class="tarjUser">
      <table class="tableListCaja">
        <tr class="">
          <th class="tableListCajaTitle">Plan</th>
          <th class="tableListCajaTitle">Cuotas</th>
          <th class="tableListCajaTitle">Valor De Cuota</th>
        </tr>
      {{#each arrayPlanes}}
          <tr>
            <th class="tableListCajaRes">{{plan}}</th>
            <th class="tableListCajaRes">{{cuotas}}</th>
            <th class="tableListCajaRes">{{cuota}}</th>
          </tr>
     {{/each}}
      </table>
    </div>
  </div>
  
  </div>