<nav class="navegacion">
  <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a>
  <div>
    <span>Rutas De Cobranza</span>
  </div>
  <div class="iconMenuHamburguesa">
    <i class="bi bi-menu-button-wide-fill"></i>
  </div>
</nav>
<div class="contMayorCli">
  <div class="formCliente">
    <div class="divClienteBuscar">
      <h3 class="tituloForm">Datos Generales</h3>
    </div>
    <br />

    <table class="tableCobGeneralPrin">
      <tr>
        <th class="thTabletitleCobGenPrin">Inversion:</th>
        <th class="thTableCobGene">00</th>
        <th class="thTabletitleCobGenPrin">Capital:</th>
        <th class="thTableCobGene">00</th>
      </tr>
      <tr>
        <th class="thTabletitleCobGenPrin">Por Cobrar:</th>
        <th class="thTableCobGene">{{porCobrar}}</th>
        <th class="thTabletitleCobGenPrin">Efectivo:</th>
        <th class="thTableCobGene">$00</th>
      </tr>
      <tr>
        <th class="thTabletitleCobGenPrin">Ventas:</th>
        <th class="thTableCobGene">00</th>
        <th class="thTabletitleCobGenPrin">Cobrado:</th>
        <th class="thTableCobGene">$00</th>
      </tr>
      <tr>
        <th class="thTabletitleCobGenPrin">Ganancias:</th>
        <th class="thTableCobGene">00</th>
        <th class="thTabletitleCobGenPrin">Esperado:</th>
        <th class="thTableCobGene">$00</th>
      </tr>
      <tr>
        <th class="thTabletitleCobGenPrin">Efectividad:</th>
        <th class="thTableCobGene">00</th>
        <th class="thTabletitleCobGenPrin">Gastos:</th>
        <th class="thTableCobGene">$00</th>
      </tr>

    </table>
    <br />
    <div class="divClienteBuscar">
      <h3 class="tituloForm">Datos De Rutas</h3>
    </div>
    <br />

    {{#each ArrayUserGene}}
      <table class="tableCobGeneral">
        <tr>
          <th class="thTabletitleCobGen" colspan="3">{{nombre}}</th>
          <th class="thTabletitleCobGen" colspan="3">CodRuta: {{nRuta}}</th>
        </tr>
        <tr>
          <th class="thTabletitleCobGen">Inversion:</th>
          <th class="thTableCobGene">00</th>
          <th class="thTabletitleCobGen">Capital:</th>
          <th class="thTableCobGene">00</th>
        </tr>
        <tr>
          <th class="thTabletitleCobGen">Por Cobrar:</th>
          <th class="thTableCobGene">{{porCobrarT}}</th>
          <th class="thTabletitleCobGen">Efectivo:</th>
          <th class="thTableCobGene">0</th>
        </tr>
        <tr>
          <th class="thTabletitleCobGen">Ventas:</th>
          <th class="thTableCobGene">{{venT}}</th>
          <th class="thTabletitleCobGen">Cobrado:</th>
          <th class="thTableCobGene">{{cobT}}</th>
        </tr>
        <tr>
          <th class="thTabletitleCobGen">Ganancias:</th>
          <th class="thTableCobGene">{{ganaT}}</th>
          <th class="thTabletitleCobGen">Esperado:</th>
          <th class="thTableCobGene">{{espeT}}</th>
        </tr>
        <tr>
          <th class="thTabletitleCobGen">Efectividad:</th>
          <th class="thTableCobGene">{{efectividad}}%</th>
          <th class="thTabletitleCobGen">Gastos:</th>
          <th class="thTableCobGene">{{gastoT}}</th>
        </tr>
           </table>
      <div style="margin: 0 auto; width: 90%;">
          <a href="https://wa.me/549{{telefono}}" class="btnBusCliente btnWA"><i class="bi bi-whatsapp"></i></a>
            <a href="tel:+549{{telefono}}" class="btnBusCliente btnTelefono" ><i class="bi bi-telephone-outbound"></i></a>
            <a href="" class="btnBusCliente btnVender"><i class="bi bi-shop"></i></a>
            <a href="/general/cargarPres/{{nRuta}}" class="btnBusCliente btnMapa"><i class="bi bi-cash-coin"></i></a>
      
      </div>
      <br />
    {{/each}}

  </div>
  <section class="sectionContClientes">
    <div class="divClienteBuscar">
      <h3 class="tituloForm">Operacion De Caja</h3>
    </div>
    <div class="tarjCli">
      <form action="/general/cajaOperacion" method="post">
        <table class="tablaGeneCaja">
          <tr>
            <th class="tablaGeneCajaTh">Tipo</th>
            <th class=""><select class="tablaGeneCajaInp" name="tipo" id="tipo">
                <option value="gasto">Gastos</option>
                <option value="ingreso">Ingreso</option>
                <option value="rendicion">Rendicion</option>
                <option value="inversion">Inversion</option>
                <option value="sueldos">Adelantos de sueldo</option>
              </select></th>
            <th class="tablaGeneCajaTh">Usuario</th>
            <th class=""><select
                class="tablaGeneCajaInp"
                name="userCod"
                id="userCod"
              >
                <option value="10">General</option>
                {{#each usuario}}
                  <option value="{{numRuta}}">{{numRuta}} - {{nombre}}</option>
                {{/each}}
              </select></th>
          </tr>
          <tr>
            <th class="tablaGeneCajaTh">Descripcion</th>
            <th class="" colspan="3"><input
                class="tablaGeneCajaInp"
                type="text"
                id="detalle"
                name="detalle"
              /></th>
          </tr>
          <tr>
            <th class="tablaGeneCajaTh">Monto</th>
            <th class="" colspan="2"><input
                class="tablaGeneCajaInp"
                type="number"
                id="monto"
                name="monto"
              /></th>
            <th style="text-align: center;"><button class="tablaGeneCajaBtn" type="submit">Cargar</button></th>
          </tr>

        </table>
      </form>
    </div>
     <div class="divClienteBuscar">
      <h3 class="tituloForm">Operaciones Realizadas</h3>
    </div>
    <div class="tarjCli">
  <table class="tableListCaja">
    <tr>
      <th class="tableListCajaTitle">Fecha</th>
      <th class="tableListCajaTitle">Usuario</th>
      <th class="tableListCajaTitle">Operacion</th>
      <th class="tableListCajaTitle">Detalle</th>
      <th class="tableListCajaTitle">Monto</th>
    </tr>
    {{#each cajaList}}
     <tr>
      <th class="tableListCajaRes">{{fecha}}</th>
      <th class="tableListCajaRes">{{userCod}}</th>
      <th class="tableListCajaRes">{{tipo}}</th>
      <th class="tableListCajaRes">{{detalle}}</th>
      <th class="tableListCajaRes">{{monto}}</th>
    </tr>
    
    {{/each}}
  </table>
    </div>
  </section>

</div>