
    <nav class="navegacion">
        <div>
           <a href="javascript:history.back()"><i class="bi bi-box-arrow-left"></i></a> 
        </div>
        <div>
           <span>Historial De Pagos</span>
        </div>
        <div class="iconMenuHamburguesa">
            <i class="bi bi-menu-button-wide-fill"></i>
        </div>
    </nav>

    <div class="contPres">

        
   <table class="tableListCaja">
    <tr>
        <th class="tableListCajaTitle">Nombre:</th>
        <th class="tableListCajaRes" colspan="2">{{prestamo.nombre}}</th>
    </tr>
      <tr>
        <th class="tableListCajaTitle">Direccion:</th>
        <th class="tableListCajaRes" colspan="2">{{prestamo.direccion}}</th>
    </tr>
    <tr>
        <th class="tableListCajaTitle">Ruta:</th>
        <th class="tableListCajaRes" colspan="2">{{prestamo.cobRuta}}</th>
    </tr>
    <tr>
        <th class="tableListCajaTitle">Detalle:</th>
        <th class="tableListCajaRes" colspan="2">{{prestamo.detalle}}</th>
    </tr>
    <tr>
        <th class="tableListCajaTitle">Monto:</th>
        <th class="tableListCajaRes" colspan="2">{{prestamo.monto}}</th>
    </tr>
    <tr>
        <th class="tableListCajaTitle">Plan:</th>
        <th class="tableListCajaRes" colspan="2">{{prestamo.plan}} / cuotas: {{pres.cuotas}} / cuota: {{pres.cuota}}</th>
    </tr>
    <tr>
        <th class="tableListCajaTitle">Adelanto:</th>
        <th class="tableListCajaRes" colspan="2">{{prestamo.adelanto}}</th>
    </tr>
    <tr>
        <th class="tableListCajaTitle">Inicio:</th>
        <th class="tableListCajaRes" colspan="2">{{prestamo.fechaInicio}}</th>
    </tr>
    <tr>
        <th class="tableListCajaTitle">Vencimiento:</th>
          <th class="tableListCajaRes" colspan="2">{{prestamo.fechaFinal}}</th>
    </tr>
    <tr>
        <th class="tableListCajaTitle">Total:</th>
        <th class="tableListCajaRes" colspan="2">{{prestamo.total}}</th>
    </tr>
      <tr>
        <th class="tableListCajaTitle">Saldo:</th>
          <th class="tableListCajaRes" colspan="2">{{prestamo.mTotal}}</th>
    </tr>
    <tr>
        <th class="tableListCajaTitle" colspan="3">Lista de pagos</th>
    </tr>
    <tr>
        <th class="tableListCajaTitle">Fecha</th>
        <th class="tableListCajaTitle">Pago</th>
        <th class="tableListCajaTitle">Codigo</th>
    </tr>
    {{#each array}}
    <tr>
        <th class="tableListCajaRes">{{fechaString}}</th>
        <th class="tableListCajaRes">{{pago}}</th>
        <th class="tableListCajaRes">{{id}}</th>
    </tr>
    {{/each}}
   </table>

  

    </div>
