<nav class="navegacion">
  <a href="javascript:history.back()"><i class="bi bi-box-arrow-left"></i></a>
  <div>
    <span>Presupuesto Final</span>
  </div>
  <div class="iconMenuHamburguesa">
    <i class="bi bi-menu-button-wide-fill"></i>
  </div>
</nav>
<div class="contMayorCli">
  <div class="formCliente">
    <div class="divClienteBuscar">
      <h3 class="tituloForm">Detalles</h3>
    </div>
    <br>
          <table class="tableListCaja">
        <tr class="">
          <th class="tableListCajaTitle">Cod</th>
          <th class="tableListCajaTitle">Producto</th>
          <th class="tableListCajaTitle">Precio</th>
          <th class="tableListCajaTitle">Cantidad</th>
            <th class="tableListCajaTitle">Subtotal</th>
        </tr>
      {{#each ArrayInfProd}}
          <tr>
            <th class="tableListCajaRes">{{cod}}</th>
            <th class="tableListCajaRes">{{nombre}}</th>
            <th class="tableListCajaRes">{{precio}}</th>
            <th class="tableListCajaRes">{{cant}}</th>
            <th class="tableListCajaRes">{{Total}}</th>
          </tr>
     {{/each}}
      </table>
 
    <div class="infoCotizarProd">
         <h2 style="font-size: 30px;">Total: <label for="" style="color: rgb(0, 145, 31);">{{precioTartj}}</label></h2>
       <h2 style="font-size: 30px;">Oferta De Contado: <label for="" style="color: rgb(0, 145, 31);">{{precio}}</label></h2>
    <h3 style="font-size: 25px;">Descuento:  <span style="color: rgb(139, 0, 0);fon">{{descuento}}%</span></h3>
    <h3 style="font-size: 25px;">Descuento Aplicado:  <span style="color: rgb(139, 0, 0);fon">{{descuentoAplicado}}</span></h3>
   <h3 style="font-size: 25px;">3 cuotas sin interes de  <span style="color: rgb(14, 139, 0);fon">{{vCuota}}</span></h3>
   
       <div style="display:flex; justify-content: flex-start;">
      <img src="/tnx.svg" alt="">
      <img src="/tvisa.svg" alt="">
      <img src="/tmaster.svg" alt="">
      <img src="/tamex.svg" alt="">
       </div>
      <!-- <a href="https://api.whatsapp.com/send?text=[text]" class="btnCompartirCotizarPro"> <i class="bi bi-whatsapp"></i></i></a>    -->
          
       </div>    
    
    </div>

  <div class="formCliente">
     <div class="divClienteBuscar">
      <h3 class="tituloForm">Planes De Pago Para Comerciantes</h3>
    </div>
    <div class="tarjUser">
      <table class="tableListCaja">
        <tr class="">
          <th class="tableListCajaTitle">Plan</th>
          <th class="tableListCajaTitle">Cuotas</th>
          <th class="tableListCajaTitle">Valor De Cuota</th>
        </tr>
      {{#each arrayPlanes}}
          <tr>
            <th class="tableListCajaRes">{{plan}}</th>
            <th class="tableListCajaRes">{{cuotas}}</th>
            <th class="tableListCajaRes">{{cuota}}</th>
          </tr>
     {{/each}}
      </table>
      <h3 style="color: red; text-align: center;">Planes de pago con entrega de la 1° cuota</h3>
    </div>
         <div class="divClienteBuscar">
      <h3 class="tituloForm">Planes De Pago Para Particulares</h3>
    </div>
    <div class="tarjUser">
      <table class="tableListCaja">
        <tr class="">
          <th class="tableListCajaTitle">Plan</th>
          <th class="tableListCajaTitle">Cuotas</th>
            <th class="tableListCajaTitle">Valor De Cuota</th>
         
           <th class="tableListCajaTitle">Total</th>
        </tr>
      {{#each arrayPlanesParticulares}}
          <tr>
            <th class="tableListCajaRes">{{plan}}</th>
            <th class="tableListCajaRes">{{cuotas}}</th>
            <th class="tableListCajaRes">{{cuota}}</th>
     
            <th class="tableListCajaRes">{{total}}</th>
          </tr>
     {{/each}}
      </table>
      <h3 style="color: red; text-align: center;">Planes de pago con entrega de la 1° cuota</h3>
    </div>
  </div>
  
  </div>