

    <nav class="navegacion">
        <div>
            
           <a href="/vistas/exit" onclick="return confirm('¿Desea cerrar sesion?')" ><i class="bi bi-x-square"></i></i></a> 
        </div>
        <div>
           <span>Cobranza App</span>
        </div>
        <div class="iconMenuHamburguesa">
        <span>{{nombre}}</span>
        </div>
    </nav>
    <div class="contMayorPrin">
  
        <div class="ContBotones">
        <a class="botonesMenuPrincipal" href="/general">
            <i class="bi bi-cash-coin"></i>
            <h2 class="tituloBtn">Rutas de cobro</h2>
        </a>
        <a class="botonesMenuPrincipal" href="/vistas/Clientes">
            <i class="bi bi-people"></i>
            <h2 class="tituloBtn">Clientes</h2>
        </a>
        <a class="botonesMenuPrincipal" href="/products/productos/">
           <i class="bi bi-cart4"></i>
            <h2 class="tituloBtn">Gestión Productos</h2>
        </a>
        <a class="botonesMenuPrincipal" href="/products/productosUsuarios">
            <i class="bi bi-shop"></i>
            <h2 class="tituloBtn">Catalogo Productos</h2>
        </a>
        <a class="botonesMenuPrincipal" href="/ventas">
            <i class="bi bi-receipt-cutoff"></i>
            <h2 class="tituloBtn">Ventas</h2>
        </a>
      <a class="botonesMenuPrincipal" href="/cobranza/transf" >
            <i class="bi bi-bank"></i>
            <h2 class="tituloBtn">Transferencias</h2>
        </a>
      
        <a class="botonesMenuPrincipal" href="/calculadora">
            <i class="bi bi-calculator"></i>
            <h2 class="tituloBtn">Calculadora</h2>
        </a>
        <a class="botonesMenuPrincipal" href="/vistas/usuarios">
            <i class="bi bi-person-workspace"></i>
            <h2 class="tituloBtn">Usuarios</h2>
        </a>
        <a class="botonesMenuPrincipal" href="/settings">
            <i class="bi bi-gear"></i>
            <h2 class="tituloBtn">Settings</h2>
        </a>
          <a class="botonesMenuPrincipal" href="/alertas" >
            <i class="bi bi-exclamation-octagon"></i>
            <h2 class="tituloBtn">Alertas</h2>
        </a>
        <a class="botonesMenuPrincipal" href="/cobranza/generarBalance" onclick="return confirm('¿Desea crear planillas de cobranza?')">
            <i class="bi bi-file-earmark-ruled"></i>
            <h2 class="tituloBtn">Crear Planillas</h2>
        </a>
          <a class="botonesMenuPrincipal" href="/vistas/novedades">
            <i class="bi bi-envelope-exclamation"></i>
            <h2 class="tituloBtn">Novedades</h2>
        </a>
    
      
        
     </div>

     <section class="sectionContPrin">
       <div class="divBarraPrincipal">
        <h3 class="tituloForm">Planillas De Cobranza</h3>
      </div>
      <div class="tarjCli">
          <table class="tableListCaja">
    <tr>
      <th class="tableListCajaTitle">Fecha</th>
      <th class="tableListCajaTitle">Ruta</th>
      <th class="tableListCajaTitle">Nombre</th>
      <th class="tableListCajaTitle">Esperado</th>
     <th class="tableListCajaTitle">Cobrado</th>

    </tr>
    {{#each rutas}}
     <tr>
      <th class="tableListCajaRes">{{fecha}}</th>
      <th class="tableListCajaRes">{{cobRuta}}</th>
      <th class="tableListCajaRes">{{nombre}}</th>
      <th class="tableListCajaRes">{{esperado}}</th>
      <th class="tableListCajaRes">{{cobrado}}</th>
    
    </tr>
    
    {{/each}}
  </table>
          
      </div>  
       <div class="divBarraPrincipal">
        <h3 class="tituloForm">Clientes Agregados Recientemente</h3>
      </div>
      <div class="tarjCli">
        dfssdfds
      </div>  

    </section>
</div>
    