<nav class="navegacion">
  <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a>
  <div>
    <span>Productos</span>
  </div>
  <div class="iconMenuHamburguesa">
    <i class="bi bi-menu-button-wide-fill"></i>
  </div>
</nav>
<div class="contMayorCli">
  <div class="formCliente">
    <div class="divClienteBuscar">
      <h3 class="tituloForm">Cargar Producto</h3>
    </div>
    <form action="/products/saveProduct" method="post" enctype="multipart/form-data" class="formCliente2">

      <label for="codProd">Codigo</label>
      <br>
      <input class="inpForm" type="text" id="cod" name="cod" required>
      <br>
      <label for="nameProd">Nombre</label>
      <br>
      <input class="inpForm" type="text" id="nombre" name="nombre" required>
      <br>
      <label for="precioProd">Precio</label>
      <br>
      <input class="inpForm" type="number" step="0.01" id="precio" name="precio" required>
      <br>
      <label for="cantProd">Cantidad</label>
      <br>
      <input class="inpForm" type="number" id="stock" name="stock">
      <br>
      <label for="descProd">Descripción</label>
      <br>
      <input class="inpForm" type="text" id="descripcion" name="descripcion" required>
      <br>
      <label for="descProd">Garantia</label>
      <br>
      <input class="inpForm" type="text" id="garantia" name="garantia" required>

      <label for="cateProd">Categoria</label>
      <br>
         <select class="inpForm" name="categoria" id="categoria">
        {{#each arrayCategoriasProd}}
        <option value="{{valor}}"><a href="/vistas/volver">{{valor}}</a> </option>
        {{/each}}
      </select>
    
      <label for="cateProd">Imagen Del Producto</label>
      <br>
      <input type="file" name="image" id="image" required accept=".png, .jpg, .jpeg">
      <div class="cantBtnForm">
        <button class="btnFormReset" type="reset">Limpiar</button>
        <button class="btnFormAceptar" type="submit">Aceptar</button>
      </div>

    </form>
  </div>
  <section class="sectionContClientes">
    <div class="divClienteBuscar">
      <h3 class="tituloForm">Balance De Productos</h3>
    </div>
    <div class="tarjCli">
      <table class="tableListCaja">
        <tr>
          <th class="tableListCajaTitle">Cantidad De Productos</th>
          <th class="tableListCajaRes">{{cantProd}}</th>
        </tr>

        <tr>
          <th class="tableListCajaTitle">Stock Total</th>
          <th class="tableListCajaRes">{{cantProdStock}}</th>
        </tr>
        <tr>
          <th class="tableListCajaTitle">Capital En Productos</th>
          <th class="tableListCajaRes">{{capiProd}} USD</th>
        </tr>
        <tr>
          <th class="tableListCajaTitle"><a href="/products/imprimirProd" style="color: red;">Imprimir Lista De Productos <i class="bi bi-printer"></i></a></th>
          <th class="tableListCajaTitle"><a href="" style="color: red;">Imprimir Habladores <i class="bi bi-tags"></i></i></a></th>
        </tr>

      </table>

    </div>
    <div class="divClienteBuscar">
      <h3 class="tituloForm">Productos Agregados Recientemente</h3>
    </div>
    <div class="tarjCli">
      <table class="tableListCaja">
        <tr>
          <th class="tableListCajaTitle">Cod</th>
          <th class="tableListCajaTitle">Nombre</th>
          <th class="tableListCajaTitle">Categoria</th>
          <th class="tableListCajaTitle">Costo</th>
          <th class="tableListCajaTitle">Cant.</th>
          <th class="tableListCajaTitle"><i
                class="bi bi-trash" style="width: 0.5em; color:rgb(47, 52, 45)"></i></th>
        </tr>
        {{#each productos}}
        <tr>
          <th class="tableListCajaRes"><a href="/products/prodEdit/{{_id}}" style="color: rgb(0, 0, 148);">{{cod}}</a>
          </th>
          <th class="tableListCajaRes">{{nombre}}</th>
          <th class="tableListCajaRes">{{categoria}}</th>
          <th class="tableListCajaRes">{{precio}}</th>
          <th class="tableListCajaRes">{{stock}}</th>
          <th class="tableListCajaRes">
            <a href="/products/delete/{{_id}}"
              onclick="return confirm('¿Esta Seguro Que Desea Eliminar: {{{nombre}}}?')"><i
                class="bi bi-trash" style="width: 0.5em; color:rgb(255, 0, 0)"></i>
            </a>
          </th>
        </tr>

        {{/each}}
      </table>
    </div>
  </section>