<nav class="navegacion">
    <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a>
    <div>
      <span>Catalogo De Productos</span>
    </div>
    <div class="iconMenuHamburguesa">
      <i class="bi bi-menu-button-wide-fill"></i>
    </div>
  </nav>
   <div class="contMayorCli">
    <section class="sectionContClientes">
         <div class="divClienteBuscar">
      Categoria:
             <select name="" id="">
            {{#each arrayCategoriasProd}}
                <option value="{{valor}}"><a href="/products/filtrarProd/{{valor}}">{{valor}}</a></option>
              {{/each}}
             </select>
          </div>
         <div class="contLisProd">
          {{#each productos}}
          <div class="tarjetaProd">
            <img src="/uploads/{{cod}}.jpg" alt="" class="imgProd">
            <div class="divLetrasTarjProd">
            <h3>{{nombre}}</h3>
            <h4>Cod: {{cod}}</h4>
            <h5>Stock: {{stock}}</h5>
            </div>
            <a href="/products/cotizarProd/{{_id}}">
            <h4 class="btnCotizarProd">
              Cotizar
            </h4>
            </a>
         </div>

          {{/each}}
      
         </div>
    </section>
  </div>
