 <nav class="navegacion">
        <div>
           <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a> 
        </div>
        <div>
           <span>Lista De Ventas</span>
        </div>
        <div class="iconMenuHamburguesa">
            <i class="bi bi-menu-button-wide-fill"></i>
        </div>
    </nav>

    <div class="contPres">
       <table class="tableListCaja">
    <tr>
      <th class="tableListCajaTitle">Fecha</th>
      <th class="tableListCajaTitle">Usuario</th>
      <th class="tableListCajaTitle">Operacion</th>
      <th class="tableListCajaTitle">Detalle</th>
      <th class="tableListCajaTitle">Monto</th>
    </tr>
    {{#each cajaList}}
     <tr>
      <th class="tableListCajaRes">{{fecha}}</th>
      <th class="tableListCajaRes">{{userCod}}</th>
      <th class="tableListCajaRes">{{tipo}}</th>
      <th class="tableListCajaRes">{{detalle}}</th>
      <th class="tableListCajaRes">{{monto}}</th>
    </tr>
    
    {{/each}}
  </table>
    </div>

