

    <nav class="navegacion">
        <div>
           <a href="/vistas/volver"><i class="bi bi-box-arrow-left"></i></a> 
        </div>
        <div>
           <span>Ventas</span>
        </div>
        <div class="iconMenuHamburguesa">
            <i class="bi bi-menu-button-wide-fill"></i>
        </div>
    </nav>


   <div class="contMayorCli">
<div class="formCliente">
    <div class="divClienteBuscar">
        <h3 class="tituloForm">Registrar Ventas</h3>
      </div>
    <form action="/ventas/cotizar" method="post" class="formCliente2">
           
            <label for="ruta">Vendedor</label>
            <select class="inpForm" name="venRuta" id="venRuta" required>
                <option value="001">Renovacion</option>
                 <option value="002">Piso De Venta</option>
                {{#each usuarios}}
                <option value="{{numRuta}}">{{numRuta}}/{{nombre}}</option>
                {{/each}}
            </select>
            <br>
            <label for="ruta">Ruta De Cobro</label>
            <select class="inpForm" name="cobRuta" id="cobRuta" required>
                 <option value="0002">Pago De Contado</option>
                {{#each usuarios}}
                <option value="{{numRuta}}">{{numRuta}}/{{nombre}}</option>
                {{/each}}
            </select>
            <br>
            <label for="dni">DNI</label><br>
            <input class="inpForm" type="number" id="dni" name="dni" required>
            <br>
            <label for="monto">Monto</label>
            <input class="inpForm" type="number" id="monto" name="monto" required>
            <br>
            <label for="detalle">Descripcion</label>
            <input class="inpForm" type="text" id="detalle" placeholder="Inf. Solo para productos" name="detalle">
            <br>
            <label for="detalle">Codigo De Producto</label>
            <select name="codProd" id="codProd" class="inpForm">
              <option value="">Sin Producto</option>
              {{#each productos}}
              <option value="{{cod}}">{{cod}} / {{nombre}}</option>
              {{/each}}
            </select>
            <br>
            <label for="plan">Plan De Cobro</label>
            <select class="inpForm" name="planId" id="planId">
                {{#each planPrest}}
                <option value="{{_id}}">{{categoria}} / {{plan}} / Cuotas: {{cuotas}} / {{porcentaje}}% </option>
                {{/each}}
                {{#each planProd}}
                <option value="{{_id}}">{{categoria}} / {{plan}} / Cuotas: {{cuotas}} / {{porcentaje}}% </option>
                {{/each}}
            </select>
            <br>
            <label for="diasDeCobro">Dia De Cobro</label>
            <select class="inpForm" name="diaDeCobro" id="diaDeCobro">
                <option value="lunes">Lunes</option>
                <option value="martes">Martes</option>
                <option value="miercoles">Miercoles</option>
                <option value="jueves">Jueves</option>
                <option value="viernes">Viernes</option>
                <option value="Sabado">Sabado</option>
                <option value="todos">Todos</option>
            </select>
            <label for="diasDeCobro">Fecha Inicio</label>
            <input type="date" name="fecha" id="fecha" class="inpForm" required>
               <div class="cantBtnForm">
                <button class="btnFormReset" type="reset">Limpiar</button>
                <button class="btnFormAceptar" type="submit">Cotizar</button>
            </div>
    </form>
</div>
    <section class="sectionContClientes">
      <div class="divClienteBuscar">
        <h3 class="tituloForm">Ventas Agregados Recientemente</h3>
      </div>
      <div class="tarjUser">
        <br>
        <table class="tableUsuarios">
          <tr class="tableUsuariosTr">
          <th class="tableUsuariosThTitulo">Apellido y Nombre</th>
          <th class="tableUsuariosThTitulo">Monto</th>
          <th class="tableUsuariosThTitulo">Descripcion</th>
          <th class="tableUsuariosThTitulo">Ruta C.</th>

          </tr>
        {{#each ventasT }}
          <tr>
             <th class="tableUsuariosThRespuesta" style="background-color: rgb(211, 235, 227);">{{nombre}}</th>
             <th class="tableUsuariosThRespuesta">{{monto}}</th>
             <th class="tableUsuariosThRespuesta">{{detalle}}</th>
             <th class="tableUsuariosThRespuesta">{{cobRuta}}</th>
          </tr>
           <th class="tableUsuariosThRespuesta">Fecha</th>
           <th class="tableUsuariosThRespuesta" colspan="3">{{fechaInicio}}</th>
          <tr>

          </tr>
        {{/each}}
        </table>
        <br>
      </div>  

    </section>
  </div>





